.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  #title {
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 5px;
    z-index: 2;
    span {
      text-transform: uppercase;
    }
    .instruction {
      font-size: 1rem;
      padding-left: 200px;
    }
    .left {
      font-size: 1rem;
      padding-left: -200px;
    }
  }

  .action-section-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8rem;
    .intro-text {
      border-right: 2px solid var(--text);
      width: 70%;
    }
    .introduction-container {
      text-align: center;
      .website-name {
        font-size: 3rem;
        font-weight: 700;
        color: #fff;
        margin: 0 4rem;
      }
      .website-tagline {
        margin: 1rem 5rem;
      }
    }
    .call-to-action-container {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5rem;
    }
    .logo {
      font-size: 5rem;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
    }
  }
  .about-life-container {
    width: 100%;
    display: flex;
    margin-bottom: 8rem;
    .about-text-container {
      margin: 2rem 3rem;
      font-size: 1.2rem;
      width: 70vw;
      .heading {
        font-size: 1.3rem;
        color: #fff;
      }
    }
    .gif {
      width: 25vw;
      height: 26vw;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 50px;
      border-radius: 50%;
      border: 10px double #fff;
    }
    button {
      font-size: 1rem;
      padding: 0.2rem;
    }
  }
}
