.team-support-container {
  margin: 6rem 2rem;
  .team-container {
    width: 70%;
    border-right: 2px solid #fff;
    .member-container {
      width: 100%;
      height: 20vw;
      display: flex;
      align-items: center;
      .member-image {
        width: 15vw;
        height: 15vw;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2rem;
      }
      .info {
        margin-left: 2rem;
        .member-name {
          font-size: 3rem;
        }
      }
    }
    .one {
      margin-left: 6rem;
      .member-image {
        background-image: url("../../utils/team1.jpg");
      }
    }
    .two {
      margin-left: 2rem;
      .member-image {
        background-image: url("../../utils/team2.jpg");
      }
    }
    .three {
      margin-left: 8rem;
      .member-image {
        background-image: url("../../utils/team3.jpg");
      }
    }
    .four {
      margin-left: 0rem;
    }
  }
  .form-container {
    width: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 4rem;
    #mc_embed_signup {
      input,
      textarea {
        background-color: rgba($color: #333, $alpha: 0.7);
      }
    }
    .form {
      border-left: 2px solid #fff;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 2rem 0;
      .text {
        font-size: 2rem;
        width: 100%;
        margin-bottom: 2rem;
        text-align: center;
      }
      .name {
        width: 50vw;
        height: 5vh;
        border: none;
        border-bottom: 2px solid #fff;
        background-color: transparent;
        font-size: 1.2rem;
        color: #fff;
        background-color: rgba($color: #333, $alpha: 0.4);
        padding: 0.5rem;
      }
      .email {
        width: 50vw;
        height: 5vh;
        border: none;
        border-bottom: 2px solid #fff;
        background-color: transparent;
        font-size: 1.2rem;
        color: #fff;
        background-color: rgba($color: #333, $alpha: 0.4);
        padding: 0.5rem;
      }
      .message {
        width: 50vw;
        height: 25vh;
        border: none;
        border-bottom: 2px solid #fff;
        background-color: transparent;
        font-size: 1.2rem;
        color: #fff;
        background-color: rgba($color: #333, $alpha: 0.4);
        padding: 0.5rem;
      }
      .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .team-support-container {
    .team-container {
      width: 95%;
      margin-top: 8rem;
      .one {
        margin-left: 0rem;
      }
      .two {
        margin-left: 0rem;
      }
      .three {
        margin-left: 0rem;
      }
      .member-container {
        height: 35vw;
        .member-image {
          width: 30vw;
          height: 30vw;
        }
      }
    }
    .form-container {
      .form {
        .name {
          width: 90%;
          height: 4vh;
        }
        .email {
          width: 90%;
          height: 4vh;
        }
        .message {
          width: 90%;
          height: 15vh;
        }
      }
    }
  }
}
