.minting-container {
  padding: 6rem 2rem;
  .about-section {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30vh;
      .left {
        min-width: 25%;
        background-color: rgba($color: #fff, $alpha: 0.7);
      }
      .right {
        min-width: 25%;
        background-color: rgba($color: #fff, $alpha: 0.7);
      }
      .center {
        width: 75%;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        .about {
          font-size: 1.6rem;
          text-align: center;
          margin-bottom: 1rem;
          font-weight: 500;
        }
        .release-date {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
    .action {
      display: flex;
      .nft-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .buttons {
        display: flex;
        align-items: center;
        font-size: 2rem;
        font-weight: 700;
        width: 50%;
      }
    }
  }
}
