.minting-container {
  padding: 6rem 2rem;
  .about-section {
    .title {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 30vh;
      .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../utils/godsBanner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: blur(6px);
        z-index: 1;
      }
      .center {
        width: 100%;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        z-index: 2;
        .about {
          font-size: 1.6rem;
          text-align: center;
          margin-bottom: 1rem;
          font-weight: 500;
        }
        .release-date {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
    .action {
      display: flex;
      margin: 2rem 0;
      .nft-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        width: 50%;
        img {
          width: 7vw;
          height: 7vw;
          border-radius: 50%;
          margin-right: 1rem;
        }
      }
    }
  }
  img {
    width: 350px;
    height: 350px;
  }
}

@media only screen and (max-width: 900px) {
  .minting-container {
    .about-section {
      .title {
        height: 40vh;
      }
      .action {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .buttons {
          img {
            width: 4rem;
            height: 4rem;
          }
        }
      }
    }
    img {
      width: 200px;
      height: 200px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .minting-container {
    .about-section {
      .title {
        height: 20vh;
        margin-top: 3rem;
      }
    }
  }
}
