.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text);
  .logo-container {
    display: flex;
    padding: 0 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    img {
      border-radius: 50%;
      height: 5rem;
      width: 9rem;
    }
  }
  .link-container {
    display: flex;
    font-size: 1.5rem;
    transition: 0.5s;
    .link-item {
      margin: 0 0.5rem;
    }
    :hover {
      color: #fff;
      cursor: pointer;
    }
  }
  .action-container {
    display: flex;
    padding: 0.5rem;
    button {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      background-color: transparent;
      border: 2px solid var(--text);
      border-radius: 100px;
      color: var(--text);
      transition: 0.2s;
    }
    button:hover {
      background-color: rgba($color: #ccc, $alpha: 0.2);
    }
  }

  .openNavbar {
    border-bottom: none;
    display: none;
  }
}

.responsive-nav-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80vw;
  height: 100vh;
  background-color: #222;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  .link {
    color: rgb(255, 165, 20);
  }
  transition: 0.6s;
  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    .openNavbar {
      border-bottom: none;
    }
  }
}

.active {
  left: 0;
}

@media only screen and (max-width: 900px) {
  .nav-container {
    .link-container {
      display: none;
    }
    .openNavbar {
      display: block;
    }
  }
  .responsive-nav-container {
    display: flex;
  }
}
