.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text);
  .logo-container {
    display: flex;
    padding: 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .link-container {
    display: flex;
    font-size: 1.5rem;
    transition: 0.5s;
    .link-item {
      margin: 0 0.5rem;
    }
    :hover {
      color: #fff;
      cursor: pointer;
    }
  }
  .action-container {
    display: flex;
    padding: 0.5rem;
    button {
      padding: 0.75rem 1rem;
      font-size: 1rem;
      background-color: transparent;
      border: 2px solid var(--text);
      border-radius: 100px;
      color: var(--text);
      transition: 0.2s;
    }
    button:hover {
      background-color: rgba($color: #ccc, $alpha: 0.2);
    }
  }
}

@media only screen and (max-width: 700px) {
  .nav-container {
    .link-container {
      display: none;
    }
  }
}
