.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--text);
  .active {
    color: rgb(255, 165, 20);
  }
  .logo-container {
    display: flex;
    padding: 0 1.5rem;
    img {
      height: 6rem;
      width: 11.5rem;
    }
  }
  .link-container {
    display: flex;
    font-size: 1.5rem;
    transition: 0.5s;
    .link-item {
      margin: 0 0.5rem;
    }
    :hover {
      color: rgb(255, 165, 20);
      cursor: pointer;
    }
  }
  .action-container {
    display: flex;
    padding: 0.5rem;
    button {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background-color: transparent;
      border: 2px solid var(--text);
      border-radius: 100px;
      color: var(--text);
      transition: 0.2s;
    }
    button:hover {
      background-color: rgba($color: #ccc, $alpha: 0.2);
    }
  }

  .openNavbar {
    display: none;
  }
}

.responsive-nav-container {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80vw;
  height: 100vh;
  background-color: #222;
  z-index: 1000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  .social-container {
    position: absolute;
    bottom: 15vh;
    left: 0;
    .left {
      width: 80vw;
      display: flex;
      justify-content: center;
      .logos {
        span {
          margin: 0 0.5rem;
          img {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
    }
  }
  .link {
    color: #fff;
  }
  .link:hover {
    color: rgb(255, 165, 20);
  }
  .active {
    color: rgb(255, 165, 20);
  }
  transition: 0.6s;
  .close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    .openNavbar {
      border: none;
    }
  }
}

.active {
  left: 0;
}

@media only screen and (max-width: 900px) {
  .nav-container {
    .logo-container {
      padding: 0;
      img {
        width: 13rem;
        height: 7rem;
      }
    }
    .link-container {
      display: none;
    }
    .openNavbar {
      display: block;
    }
  }
  .responsive-nav-container {
    display: flex;
  }
}
